body {
        background-image: repeating-linear-gradient(to right, #C7D7FD, #E3EFFD, #F5FAFA, #E3EFFD, #C7D7FD, #E3EFFD, #F5FAFA);
        background-color: #E3EFFD;
        margin: 20px;
    }

    h1 {
        font-size: 70px;
        text-align: center;
        color: #A7B5D4
    }

    h2 {
        text-align: center;
        font-size: 18px
    }

    h3 {
        margin: 40px;
        margin-bottom: 20px;
        color: #46669D;
    }

    h4 {
        margin-left: 60px;
        margin-bottom: 0;
        color: white;
        font-size: 25px;
    }

h5 {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #599CFF;
    transition: color 1s ease;
}

a:hover {
    color: white;
}

iframe {
    margin-left: 20px;
    height: 800px;
    width: 100%;
}

    #Tanner {
        color: #A7B5D4;
    }

    #Artist {
        color: #ADBBDB;
    }

    .menu {
        overflow: hidden;
        background-color: white;
        padding: 10px 10px 10px 10px;
        margin: 0px;
    }

    .menu a {
        color: #A7B5D4;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 10px 10px 10px;
        margin: 20px;
        transition: background-color 1s ease;
    }

    .menu a:hover {
        color: white;
        background-color: #C7D7FD;
    }

    img {
        width: 600px;
        margin: 60px;
        display: block;
    }


    .bar {
        text-align: center;
        display: inline-block;
        text-align: center;
        margin-left: -4px;
        margin-right: 0;
    }

    #pics {
        display: inline-block;
    }
